In [ ]:
# 전국 빽다방 매장 정보 수집

In [15]:
import time
import requests
import pandas as pd

In [2]:
page_num = 1
page_list = []

while True:
    url = f"https://theborndb.theborn.co.kr/wp-json/api/get_store/?state=9&category=275&depth1=&depth2=&paged={page_num}"

    response = requests.get(url)
    infomation = response.json()['results']

    # 마지막 페이지를 넘어간 경우
    if infomation is None:
        print('모든 매장 수집 완료')
        break

    page_list.extend(infomation)
    print(f'{page_num}페이지 수집 완료')
    page_num += 1
    time.sleep(0.01)

1페이지 수집 완료
2페이지 수집 완료
3페이지 수집 완료
4페이지 수집 완료
5페이지 수집 완료
6페이지 수집 완료
7페이지 수집 완료
8페이지 수집 완료
9페이지 수집 완료
10페이지 수집 완료
11페이지 수집 완료
12페이지 수집 완료
13페이지 수집 완료
14페이지 수집 완료
15페이지 수집 완료
16페이지 수집 완료
17페이지 수집 완료
18페이지 수집 완료
19페이지 수집 완료
20페이지 수집 완료
21페이지 수집 완료
22페이지 수집 완료
23페이지 수집 완료
24페이지 수집 완료
25페이지 수집 완료
26페이지 수집 완료
27페이지 수집 완료
28페이지 수집 완료
29페이지 수집 완료
30페이지 수집 완료
31페이지 수집 완료
32페이지 수집 완료
33페이지 수집 완료
34페이지 수집 완료
35페이지 수집 완료
36페이지 수집 완료
37페이지 수집 완료
38페이지 수집 완료
39페이지 수집 완료
40페이지 수집 완료
41페이지 수집 완료
42페이지 수집 완료
43페이지 수집 완료
44페이지 수집 완료
45페이지 수집 완료
46페이지 수집 완료
47페이지 수집 완료
48페이지 수집 완료
49페이지 수집 완료
50페이지 수집 완료
51페이지 수집 완료
52페이지 수집 완료
53페이지 수집 완료
54페이지 수집 완료
55페이지 수집 완료
56페이지 수집 완료
57페이지 수집 완료
58페이지 수집 완료
59페이지 수집 완료
60페이지 수집 완료
61페이지 수집 완료
62페이지 수집 완료
63페이지 수집 완료
64페이지 수집 완료
65페이지 수집 완료
66페이지 수집 완료
67페이지 수집 완료
68페이지 수집 완료
69페이지 수집 완료
70페이지 수집 완료
71페이지 수집 완료
72페이지 수집 완료
73페이지 수집 완료
74페이지 수집 완료
75페이지 수집 완료
76페이지 수집 완료
77페이지 수집 완료
78페이지 수집 완료
79페이지 수집 완료
80페이지 수집 완료
81페이지 수집 완료
82페이지 수집 완료
83페이지 수집 완료
84페이지 수집 완료
85페이지 수집 완료
86페이지 수집 완료
87페이지 수집 완료
88페이지 수집 완료
89페이지 수집 완료
90페이지 수집 완료
91페이지 수집 완료
92페이지 수집 완료
93페이지 수집 완료
94페이지 수집 완료
95페이지 수집 완료
96페이지 수집 완료
97페이지 수집 완료
98페이지 수집 완료
99페이지 수집 완료
100페이지 수집 완료
101페이지 수집 완료
102페이지 수집 완료
103페이지 수집 완료
104페이지 수집 완료
105페이지 수집 완료
106페이지 수집 완료
107페이지 수집 완료
108페이지 수집 완료
109페이지 수집 완료
110페이지 수집 완료
111페이지 수집 완료
112페이지 수집 완료
113페이지 수집 완료
114페이지 수집 완료
115페이지 수집 완료
116페이지 수집 완료
117페이지 수집 완료
118페이지 수집 완료
119페이지 수집 완료
120페이지 수집 완료
121페이지 수집 완료
122페이지 수집 완료
123페이지 수집 완료
124페이지 수집 완료
125페이지 수집 완료
126페이지 수집 완료
127페이지 수집 완료
모든 매장 수집 완료

In [3]:
df_all = pd.DataFrame(page_list)

In [4]:
# 20230220 기준 1265개 매장 정보
df_all

,store_ID,store_name,store_brand,store_depth1,store_address,store_phone,store_photo,store_hours,store_closed,store_seats,store_parking,store_remark,store_gmap,erp_code,ttms
0,9858,대구팔달노원점,빽다방,대구광역시,대구 북구 팔달로 35길 72,0507-1375-6368,https://theborndb.theborn.co.kr/wp-content/upl...,08:00~20:00,연중무휴,테이블 10개 / 좌석 20석,불가,팔달시장 도보 5분거리,"{'address': '', 'lat': '', 'lng': ''}",,
1,9847,대구장기동점,빽다방,대구광역시,대구 달서구 장기로 243,053-721-6529,https://theborndb.theborn.co.kr/wp-content/upl...,08:00~22:00,연중무휴,테이블 32개 / 좌석 64석,불가,대구장동초등학교에서 도보 5분 거리,"{'address': '', 'lat': '', 'lng': ''}",,
2,9816,익산모현현대점,빽다방,전라북도,전북 익산시 모현동1가 274-12,070-4334-7889,https://theborndb.theborn.co.kr/wp-content/upl...,평일 08:00 ~ 22:00<br>주말 09:00 ~ 22:00,연중무휴,테이크아웃 매장,불가,,"{'address': '', 'lat': '', 'lng': ''}",,
3,9814,해운대대동사거리점,빽다방,부산광역시,부산 해운대구 대천로103번길 29 (좌동 1288),051-704-2852,https://theborndb.theborn.co.kr/wp-content/upl...,08:00 - 22:00,연중무휴,"테이블 7개, 좌석 14석",불가,,"{'address': '', 'lat': '', 'lng': ''}",,
4,9809,세종고운하모니점,빽다방,세종특별자치시,세종특별시 고운동 1380 하모니타워2 1층 102호,044-866-4806,https://theborndb.theborn.co.kr/wp-content/upl...,08:00 ~ 20:00,연중무휴,테이블 4개 / 좌석 8석,주차타워 이용가능 (1시간 이용시 1만원 할인),,"{'address': '', 'lat': '', 'lng': ''}",,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1260,1906,신대방삼거리점,빽다방,서울특별시,서울특별시 동작구 국사봉1길 28,02-825-5077,https://theborndb.theborn.co.kr/wp-content/upl...,07:00 ~ 23:00,연중무휴,테이블 10개 / 좌석 20석,건물 주차장 이용 가능,,"{'address': '서울 동작구 상도3동 322-17', 'lat': '37.4...",111103,102584
1261,1905,충남대병원점,빽다방,대전광역시,대전광역시 중구 계룡로920번길 36,042-220-5901,https://theborndb.theborn.co.kr/wp-content/upl...,평일 06:30 ~ 24:00<br>토요일 07:00 ~ 24:00<br>일요일 0...,연중무휴,20테이블 30석,불가,,"{'address': '대전광역시 중구 대사동 계룡로920번길 36', 'lat':...",100706,102585
1262,1904,태평로점,빽다방,서울특별시,"서울시 중구 세종대로 82, 1층",02-318-3323,https://theborndb.theborn.co.kr/wp-content/upl...,07:30 ~ 19:00,주말,,불가,,"{'address': '서울시 중구 세종대로 82', 'lat': '37.56335...",100084,102580
1263,1903,구미상모점,빽다방,경상북도,"경상북도 구미시 상사서로 77, 1층",054-465-5460,https://theborndb.theborn.co.kr/wp-content/upl...,09:00 ~ 22:00,연중무휴,없음,불가,,"{'address': '경상북도 구미시 상사서로 77, 1층', 'lat': '36...",100022,102582
1264,1902,천안불당중앙점,빽다방,충청남도,"충청남도 천안시 서북구 검은들3길 58, 매가클래스블루 1층",041-556-0410,https://theborndb.theborn.co.kr/wp-content/upl...,08:00 ~ 22:00,연중무휴,테이블 3개 / 좌석 6석,불가,,"{'address': '충청남도 천안시 검은들3길 서북구 58', 'lat': '3...",110857,602869

In [5]:
# 필요한 컬럼만 선택
paiks_coffee = df_all.loc[:, ['store_brand', 'store_name', 'store_depth1', 'store_address']]

In [6]:
paiks_coffee

     store_brand store_name store_depth1                      store_address
0            빽다방    대구팔달노원점        대구광역시                  대구 북구 팔달로 35길 72
1            빽다방     대구장기동점        대구광역시                    대구 달서구 장기로 243
2            빽다방    익산모현현대점         전라북도               전북 익산시 모현동1가 274-12
3            빽다방  해운대대동사거리점        부산광역시     부산 해운대구 대천로103번길 29 (좌동 1288)
4            빽다방   세종고운하모니점      세종특별자치시      세종특별시 고운동 1380 하모니타워2 1층 102호
...          ...        ...          ...                                ...
1260         빽다방    신대방삼거리점        서울특별시                 서울특별시 동작구 국사봉1길 28
1261         빽다방     충남대병원점        대전광역시               대전광역시 중구 계룡로920번길 36
1262         빽다방       태평로점        서울특별시                 서울시 중구 세종대로 82, 1층
1263         빽다방      구미상모점         경상북도               경상북도 구미시 상사서로 77, 1층
1264         빽다방    천안불당중앙점         충청남도  충청남도 천안시 서북구 검은들3길 58, 매가클래스블루 1층

[1265 rows x 4 columns]

In [7]:
# 컬럼 이름 한글로 변경
paiks_coffee = paiks_coffee.rename(columns={'store_brand':'브랜드명',
                                            'store_name':'지점명',
                                            'store_depth1':'시도명',
                                            'store_address':'주소'})

In [8]:
paiks_coffee

     브랜드명        지점명      시도명                                 주소
0     빽다방    대구팔달노원점    대구광역시                  대구 북구 팔달로 35길 72
1     빽다방     대구장기동점    대구광역시                    대구 달서구 장기로 243
2     빽다방    익산모현현대점     전라북도               전북 익산시 모현동1가 274-12
3     빽다방  해운대대동사거리점    부산광역시     부산 해운대구 대천로103번길 29 (좌동 1288)
4     빽다방   세종고운하모니점  세종특별자치시      세종특별시 고운동 1380 하모니타워2 1층 102호
...   ...        ...      ...                                ...
1260  빽다방    신대방삼거리점    서울특별시                 서울특별시 동작구 국사봉1길 28
1261  빽다방     충남대병원점    대전광역시               대전광역시 중구 계룡로920번길 36
1262  빽다방       태평로점    서울특별시                 서울시 중구 세종대로 82, 1층
1263  빽다방      구미상모점     경상북도               경상북도 구미시 상사서로 77, 1층
1264  빽다방    천안불당중앙점     충청남도  충청남도 천안시 서북구 검은들3길 58, 매가클래스블루 1층

[1265 rows x 4 columns]

In [9]:
# 지점명에 중복이 있다?
paiks_coffee.nunique()

브랜드명       1
지점명     1263
시도명       17
주소      1265
dtype: int64

In [10]:
# 같은 지점명 2개가 2개씩 들어있다
paiks_coffee.loc[paiks_coffee.duplicated(['지점명'], keep=False), :]

     브랜드명      지점명    시도명                                      주소
79    빽다방  목동41타워점  서울특별시  서울시 양천구 목동동로 293, 1층 1-10호(목동, 현대41타워)
97    빽다방    등촌성당점  서울특별시      서울시 강서구 공항대로 41길 51, 1층 101호, 102호
841   빽다방  목동41타워점  서울특별시      서울시 양천구 목동동로 293, 현대41타워 1층 제1-10호
1222  빽다방    등촌성당점  서울특별시       서울특별시 강서구 공항대로41길 51, 세신그린코아 101호

In [11]:
# 지점명이 같은 행은 하나만 두고 제거
paiks_coffee = paiks_coffee.drop_duplicates(subset=['지점명'])

In [12]:
paiks_coffee

     브랜드명        지점명      시도명                                 주소
0     빽다방    대구팔달노원점    대구광역시                  대구 북구 팔달로 35길 72
1     빽다방     대구장기동점    대구광역시                    대구 달서구 장기로 243
2     빽다방    익산모현현대점     전라북도               전북 익산시 모현동1가 274-12
3     빽다방  해운대대동사거리점    부산광역시     부산 해운대구 대천로103번길 29 (좌동 1288)
4     빽다방   세종고운하모니점  세종특별자치시      세종특별시 고운동 1380 하모니타워2 1층 102호
...   ...        ...      ...                                ...
1260  빽다방    신대방삼거리점    서울특별시                 서울특별시 동작구 국사봉1길 28
1261  빽다방     충남대병원점    대전광역시               대전광역시 중구 계룡로920번길 36
1262  빽다방       태평로점    서울특별시                 서울시 중구 세종대로 82, 1층
1263  빽다방      구미상모점     경상북도               경상북도 구미시 상사서로 77, 1층
1264  빽다방    천안불당중앙점     충청남도  충청남도 천안시 서북구 검은들3길 58, 매가클래스블루 1층

[1263 rows x 4 columns]

In [13]:
# 겹치는 지점이 없어졌다
paiks_coffee.nunique()

브랜드명       1
지점명     1263
시도명       17
주소      1263
dtype: int64

In [14]:
# 엑셀 파일로 저장
paiks_coffee.to_excel('paiks_coffee.xlsx', index=False)