# 할리스

In [9]:
import requests
import json
import pandas as pd
from tqdm import trange
import time

import folium
from bs4 import BeautifulSoup as bs

In [77]:
# URL 만들기
page_no = 1

url ="https://www.hollys.co.kr/store/korea/korStore2.do"
params = f"?pageNo={page_no}&sido=&gugun=&store="
params

'?pageNo=1&sido=&gugun=&store='

In [78]:
# response
response = requests.get(url, params = params)

In [79]:
# response.text에 bs 적용하기
pd.read_html(response.text)[0]

,지역,매장명,현황,주소,매장 서비스,전화번호
0,충남 천안시 동남구,순천향대학교 천안병원 외래점,영업중,"충청남도 천안시 동남구 순천향6길 31 (봉명동, 순천향대학교천안병원) 외래센터 2층",NaN,.
1,충남 천안시 동남구,순천향대학교 천안병원 본관점,영업중,"충청남도 천안시 동남구 순천향6길 31 (봉명동, 순천향대학교천안병원) 본관 1층",NaN,.
2,충남 공주시,(천)이인휴게소점,영업중,충청남도 공주시 이인면 논산천안고속도로 32 (이인상행휴게소) .,NaN,.
3,충남 공주시,(논)탄천휴게소2호점,영업중,충청남도 공주시 탄천면 논산천안고속도로 27 (탄천하행휴게소) .,NaN,.
4,제주 제주시,이도점,영업중,"제주특별자치도 제주시 중앙로 302 (이도이동, 더스프링) .",NaN,070-7694-2323
5,서울 마포구,연트럴파크점,영업중,서울특별시 마포구 동교로 233 (연남동) .,NaN,02-335-7805
6,서울 강남구,강남우리라운지점,영업중,서울특별시 강남구 테헤란로 301 역삼동 701-02 삼정빌딩 1층,NaN,02-566-1002
7,경기 수원시,수원영통점,영업중,경기도 수원시 영통구 청명남로 10 영통동 1000-1,NaN,031-202-3356
8,경기 고양시 덕양구,원흥역점,영업중,경기 고양시 덕양구 권율대로 690 201동 108호~111호,NaN,031.967.0302
9,서울 용산구,이태원역점,영업중,서울특별시 용산구 이태원로 180 2층~3층,NaN,02-749-8752

In [80]:
def page_scrapping(page_no):
    url = f"https://www.hollys.co.kr/store/korea/korStore2.do?pageNo={page_no}&sido=&gugun=&store="
    response = requests.get(url)
    html = bs(response.text)
    df_table = pd.read_html(response.text)[0]
    return df_table

In [81]:
page_scrapping(2)

,지역,매장명,현황,주소,매장 서비스,전화번호
0,서울 양천구,오목교역점,영업중,"서울특별시 양천구 오목로 344 (목동, 청학빌딩) 1층",NaN,02-2062-8405
1,대구 서구,롯데시네마프리미엄만경관점,영업중,대구 중구 국채보상로 547 MMC 만경관 4층 .,NaN,070-7717-2192
2,전남 순천시,순천신대점,영업중,전라남도 순천시 해룡면 향매로 67 신대리 1978,NaN,061-723-5185
3,서울 금천구,시흥사거리점,영업중,서울특별시 금천구 시흥대로 225 시흥동 994-9,NaN,02-804-9226
4,전북 전주시 완산구,전주효천점,영업중,"전라북도 전주시 완산구 쑥고개로 351, 1층 101호~102호 효자동2가 1326-4",NaN,063-224-5777
5,제주 제주시,제주도두해안DT점,영업중,제주특별자치도 제주시 도두일동 1686 .,NaN,064-745-7301
6,부산 북구,부산화명점,영업중,"부산광역시 북구 금곡대로285번길 13 (화명동, 스포렉스) 스포렉스 106호,10...",NaN,070-8884-1101
7,서울 서초구,방배역점,영업중,"서울특별시 서초구 방배로 107 (방배동, 디엠타워3관) 1층",NaN,02-523-4180
8,경기 고양시 덕양구,고양향동점,영업중,"경기도 고양시 덕양구 향기3로 9, 101호 (향동동) 향동동 536",NaN,02-3158-0031
9,광주 북구,광주북구청점,영업중,광주광역시 북구 서방로 2 (중흥동) .,NaN,062-511-8002

In [82]:
from tqdm import trange
import time
last_page = 52 # 할리스 마지막 페이지

requests.packages.urllib3.disable_warnings(requests.packages.urllib3.exceptions.InsecureRequestWarning)

page_list = []
for page_no in trange(1,int(last_page)+1):
    result = page_scrapping(page_no)
    page_list.append(result)
    time.sleep(0.01)

100%|██████████████████████████████████████████████████████████████████████████████████| 52/52 [00:19<00:00,  2.72it/s]

In [83]:
df = pd.concat(page_list)

In [84]:
df = df[['지역','매장명','현황','주소']]

In [92]:
df['브랜드명'] = '할리스'

In [93]:
df.head()

,지역,매장명,현황,주소,브랜드명
0,충남 천안시 동남구,순천향대학교 천안병원 외래점,영업중,"충청남도 천안시 동남구 순천향6길 31 (봉명동, 순천향대학교천안병원) 외래센터 2층",할리스
1,충남 천안시 동남구,순천향대학교 천안병원 본관점,영업중,"충청남도 천안시 동남구 순천향6길 31 (봉명동, 순천향대학교천안병원) 본관 1층",할리스
2,충남 공주시,(천)이인휴게소점,영업중,충청남도 공주시 이인면 논산천안고속도로 32 (이인상행휴게소) .,할리스
3,충남 공주시,(논)탄천휴게소2호점,영업중,충청남도 공주시 탄천면 논산천안고속도로 27 (탄천하행휴게소) .,할리스
4,제주 제주시,이도점,영업중,"제주특별자치도 제주시 중앙로 302 (이도이동, 더스프링) .",할리스

In [87]:
df.shape

(520, 5)

In [88]:
file_name = "할리스매장.csv"
df.to_csv(file_name,index = False ,  encoding="utf-8-sig")

# 엔젤리너스

In [127]:
page_no = 1

url = f"https://partner.payco.com/merchant/search/offline/detail/list?currentPage={page_no}&perPage=15&partnerType=FRANCHISE&partnerCode=ANGELINUS&searchWord="

In [185]:
def angel_scrapping(page_no):
    url = f"https://partner.payco.com/merchant/search/offline/detail/list?currentPage={page_no}&perPage=15&partnerType=FRANCHISE&partnerCode=ANGELINUS&searchWord="
    headers = {'user-agent': 'Mozilla/5.0'}
    response = requests.get(url, headers=headers)
    angel_json = response.json()
    df = pd.DataFrame(angel_json['partnerList'])
    df = df[['partnerAddress','partnerName']]
    return df

In [186]:
angel_scrapping(1)

                            partnerAddress        partnerName
0                       충청남도 태안군 태안읍 702-1       엔제리너스(충남태안점)
1                         충청남도 서산시 안견로 191      엔제리너스(서산터미널점)
2          경기도 시흥시 거북섬5길4 114,115,206,207호       엔제리너스(시화거북섬)
3                인천광역시 연수구 컨벤시아대로 177 롯데마트     엔제리너스(롯데마트송도점)
4                    충청남도 홍성군 홍학로 87 엘가프라자     엔제리너스(홍성내포엘가점)
5        경기도 시흥시 서울대학로 59-69  1층 138,139호      엔제리너스(배곧테크노벨리)
6                 인천광역시 중구 월미문화로 71 월미비치타운        엔제리너스(인천월미)
7                    경기도 화성시 남양시장로24번길 7-1        엔제리너스(화성남양)
8                        인천광역시 연수구 용담로 146       엔제리너스(인천연수점)
9       인천광역시 미추홀구 연남로 35 롯데백화점 인천터미널점 B1    엔제리너스(롯데백인천터미널점)
10       경기도 화성시 팔탄면 서해안고속도로 302 1층 엔제리너스     엔제리너스(화성휴게소(상))
11          인천광역시 서구 북항로32번안길 50 모다아울렛 인천점    엔제리너스(모다아울렛인천점)
12                     인천광역시 계양구 작전동 448-7  엔제리너스(홈플러스인천작전TO)
13  경기도 부천시 원미구 길주로 300(중동,외1필지 롯데백화점10층)     엔제리너스(롯데백중동식당가)
14  경기도 부천시 원미구 길주로  300, 지하1층(중동, 롯데백화점)     엔제리너스(롯데백중동식품관)

In [187]:
from tqdm import trange
import time
last_page = 21 # 엔제리너스 마지막 페이지

requests.packages.urllib3.disable_warnings(requests.packages.urllib3.exceptions.InsecureRequestWarning)

page_list = []
for page_no in trange(1,int(last_page)+1):
    result = angel_scrapping(page_no)
    page_list.append(result)
    time.sleep(0.01)

100%|██████████████████████████████████████████████████████████████████████████████████| 21/21 [00:02<00:00,  9.32it/s]

In [188]:
df_angel = pd.concat(page_list)

In [189]:
df_angel.columns = ['지역', '매장명']

In [190]:
df_angel['브랜드명'] = '엔제리너스'

In [191]:
for i in range(len(df_angel)):
    df_angel['매장명'][i] = df_angel.iloc[i]['매장명'].strip('엔제리너스( )')

In [192]:
df_angel.head()

                                지역      매장명   브랜드명
0               충청남도 태안군 태안읍 702-1    충남태안점  엔제리너스
1                 충청남도 서산시 안견로 191   서산터미널점  엔제리너스
2  경기도 시흥시 거북섬5길4 114,115,206,207호    시화거북섬  엔제리너스
3        인천광역시 연수구 컨벤시아대로 177 롯데마트  롯데마트송도점  엔제리너스
4            충청남도 홍성군 홍학로 87 엘가프라자  홍성내포엘가점  엔제리너스

In [193]:
df_angel.tail()

                      지역      매장명   브랜드명
1       제주특별자치도 제주시 공항로    서산터미널점  엔제리너스
2    제주특별자치도 제주시 서해안로 24    시화거북섬  엔제리너스
3    제주특별자치도 제주시 연북로 514  롯데마트송도점  엔제리너스
4  제주특별자치도 제주시 수목원길 65-6  홍성내포엘가점  엔제리너스
5  제주특별자치도 서귀포시 남성중로 2-3   배곧테크노벨  엔제리너스

In [194]:
file_name = "angelinus.csv"
df_angel.to_csv(file_name,index = False ,  encoding="utf-8-sig")

# 메가커피

In [195]:
from selenium import webdriver

In [196]:
def mega_scrapping(page_no):
    url = f"https://partner.payco.com/merchant/search/offline/detail/list?currentPage={page_no}&perPage=15&partnerType=FRANCHISE&partnerCode=MAGACOFFEE&searchWord="
    headers = {'user-agent': 'Mozilla/5.0'}
    response = requests.get(url, headers=headers)
    angel_json = response.json()
    df = pd.DataFrame(angel_json['partnerList'])
    df = df[['partnerAddress','partnerName']]
    return df

In [197]:
mega_scrapping(1)

                      partnerAddress        partnerName
0              충청남도 태안군 태안읍 동문2길 25        메가MGC커피(태안점)
1   충청남도 서산시 성연면 성연3로 45 테크노프라자101호   메가MGC커피(서산테크노밸리점)
2          충청남도 서산시 호수공원3로 56 (예천동)    메가MGC커피(서산호수공원점)
3                   충청남도 서산시 예천1로 24     메가MGC커피(서산예천점)
4                 충청남도 서산시 고운로 275-5     메가MGC커피(서산동문점)
5                  충청남도 서산시 율지18로 33     메가MGC커피(서산먹골점)
6      충청남도 당진시 북문로 6 메가커피(당진푸르지오점)    메가MGC커피(당진푸르지오점)
7        충청남도 당진시 당진중앙2로 91 1층(읍내동)      메가MGC커피(당진읍내점)
8        충청남도 당진시 밤절로 146 104호(수청동)     메가MGC커피(당진터미널점)
9            경기도 안산시 단원구 대부황금로 1466       메가MGC커피(대부도점)
10           경기도 안산시 단원구 대부황금로 90 .     메가MGC커피(대부도DI점)
11            충청남도 태안군 안면읍 응지마을길 34       메가MGC커피(안면도점)
12             충청남도 당진시 송산면 가곡로 156    메가MGC커피(당진현대제철점)
13         충청남도 당진시 송악읍 반촌로 70-16 .     메가MGC커피(당진기지시점)
14           인천광역시 중구 공항로424번길 60 .    메가MGC커피(영종합동청사점)

In [198]:
from tqdm import trange
import time
last_page = 148 # 메가커피 마지막 페이지

requests.packages.urllib3.disable_warnings(requests.packages.urllib3.exceptions.InsecureRequestWarning)

page_list = []
for page_no in trange(1,int(last_page)+1):
    result = mega_scrapping(page_no)
    page_list.append(result)
    time.sleep(0.01)

100%|████████████████████████████████████████████████████████████████████████████████| 148/148 [00:15<00:00,  9.61it/s]

In [199]:
df_mega = pd.concat(page_list)

In [176]:
df_mega.shape

(2206, 2)

In [177]:
df_mega.columns = ['지역', '매장명']

In [178]:
df_mega['브랜드명'] = '메가커피'

In [180]:
for i in range(len(df_mega)):
    df_mega['매장명'][i] = df_mega.iloc[i]['매장명'].strip('메가MGC커피(  )')

In [181]:
df_mega.head()

                                 지역       매장명  브랜드명
0             충청남도 태안군 태안읍 동문2길 25        태안점  메가커피
1  충청남도 서산시 성연면 성연3로 45 테크노프라자101호   서산테크노밸리점  메가커피
2         충청남도 서산시 호수공원3로 56 (예천동)    서산호수공원점  메가커피
3                  충청남도 서산시 예천1로 24     서산예천점  메가커피
4                충청남도 서산시 고운로 275-5     서산동문점  메가커피

In [182]:
file_name = "megacoffee.csv"
df_mega.to_csv(file_name,index = False ,  encoding="utf-8-sig")

# 컴포즈커피

In [203]:
def compose_scrapping(page_no):
    url = f"https://partner.payco.com/merchant/search/offline/detail/list?currentPage={page_no}&perPage=15&partnerType=FRANCHISE&partnerCode=COMPOSECOFFEE&searchWord="
    headers = {'user-agent': 'Mozilla/5.0'}
    response = requests.get(url, headers=headers)
    angel_json = response.json()
    df = pd.DataFrame(angel_json['partnerList'])
    df = df[['partnerAddress','partnerName']]
    return df

In [204]:
compose_scrapping(1)

                                      partnerAddress        partnerName
0                충청남도 서산시 예천동 1261-3 컴포즈커피(서산호수공원점)      컴포즈커피(서산호수공원점)
1                     충청남도 서산시 석림1로 68 컴포즈커피(서산석림점)        컴포즈커피(서산석림점)
2              인천광역시 중구 흰바위로 236 1층119호(운남동,영종메가타워)    컴포즈커피(인천영종메가타워점)
3                       충청남도 당진시 송악읍 신복운로3길 23-1 1층        컴포즈커피(당진송악점)
4                       인천광역시 연수구 하모니로 271 제1동 102호       컴포즈커피(송도인천대점)
5                        인천광역시 중구 넙디로 28 미도빌딩2 102호      컴포즈커피(인천영종넙디점)
6        인천광역시 중구 영종대로 162번길 26 1층 112호(운서동, 삼성홈큐브)       컴포즈커피(인천운서역점)
7     인천광역시 연수구 송도미래로 30, f동 2층 215호 컴포즈커피 송도스마트밸리점     컴포즈커피(송도스마트밸리점)
8                    인천광역시 연수구 컨벤시아대로230번길 54 A124호    컴포즈커피(송도닥터플러스몰점)
9               인천광역시 연수구 송도동 8-21 컴포즈커피(송도타임스페이스점)    컴포즈커피(송도타임스페이스점)
10  인천광역시 연수구 랜드마크로 113 상가 B-2동 113호(송도동, e편한세상 송도)   컴포즈커피(인천송도이편한세상점)
11                      인천광역시 연수구 인천타워대로 지하 57 지하1층   컴포즈커피(송도지식정보단지역점)
12       인천광역시 연수구 인천타워대로 지하 57 지하1층 (송도동, 지식정보단지역)     컴포즈커피(지식정보단지역점)
13          충청남도 예산군 삽교읍 의향로 315 112호(내포 에드가프라자 3차)        컴포즈커피(충남도청점)
14          인천광역시 연수구 송도문화로28번길 28 컴포즈커피(송도글로벌캠퍼스점)    컴포즈커피(송도글로벌캠퍼스점)

In [205]:
from tqdm import trange
import time
last_page = 125 # 컴포즈커피 마지막 페이지

requests.packages.urllib3.disable_warnings(requests.packages.urllib3.exceptions.InsecureRequestWarning)

page_list = []
for page_no in trange(1,int(last_page)+1):
    result = compose_scrapping(page_no)
    page_list.append(result)
    time.sleep(0.01)

100%|████████████████████████████████████████████████████████████████████████████████| 125/125 [00:13<00:00,  9.60it/s]

In [206]:
df_compose = pd.concat(page_list)

In [207]:
df_compose.shape

(1866, 2)

In [209]:
df_compose.columns = ['지역', '매장명']

In [210]:
df_compose['브랜드명'] = '컴포즈커피'

In [213]:
for i in range(len(df_compose)):
    df_compose['매장명'][i] = df_compose.iloc[i]['매장명'].strip('컴포즈커피(  )')

In [214]:
df_compose.head()

                                      지역        매장명   브랜드명
0    충청남도 서산시 예천동 1261-3 컴포즈커피(서산호수공원점)     서산호수공원점  컴포즈커피
1         충청남도 서산시 석림1로 68 컴포즈커피(서산석림점)       서산석림점  컴포즈커피
2  인천광역시 중구 흰바위로 236 1층119호(운남동,영종메가타워)   인천영종메가타워점  컴포즈커피
3           충청남도 당진시 송악읍 신복운로3길 23-1 1층       당진송악점  컴포즈커피
4           인천광역시 연수구 하모니로 271 제1동 102호      송도인천대점  컴포즈커피

In [215]:
file_name = "composecoffee.csv"
df_compose.to_csv(file_name,index = False ,  encoding="utf-8-sig")

# 폴바셋

In [10]:
def paul_scrapping(page_no):
    url = f"https://partner.payco.com/merchant/search/offline/detail/list?currentPage={page_no}&perPage=15&partnerType=FRANCHISE&partnerCode=PAULBASSETT&searchWord="
    headers = {'user-agent': 'Mozilla/5.0'}
    response = requests.get(url, headers=headers)
    paul_json = response.json()
    df = pd.DataFrame(paul_json['partnerList'])
    df = df[['partnerAddress','partnerName']]
    return df

In [11]:
paul_scrapping(1)

                                       partnerAddress      partnerName
0                   인천광역시 연수구 송도과학로 16번길 33-3 C동 폴바셋   폴바셋(송도트리플스트리트점)
1                        경기도 시흥시 서울대학로278번길 19-13 1층        폴바셋(시흥배곧점)
2                             서울특별시 강서구 공항대로 389 폴바셋      폴바셋(강서부민병원점)
3                      서울특별시 구로동 832 구로 G타워점 1층 폴 바셋       폴바셋(구로G타워점)
4                    서울특별시 구로구 구로동로 148 고대구로병원 신관 1층      폴바셋(고대구로병원점)
5                        서울특별시 구로구 디지털로  300 지밸리비즈플라자     폴바셋(구로지밸리몰점)
6                                 서울특별시 양천구 목동동로  377      폴바셋(목동5단지점)
7   서울특별시 영등포구 영중로 15, 타임스퀘어 2층 교보문고 내 폴 바셋 영등포 타임...  폴바셋(영등포 타임스퀘어점)
8          경기도 수원시 영통구 광교중앙로 145, 광교엘포트아이파크 1층(1이의동)      폴바셋(광교엘포트몰점)
9                경기도 고양시 일산동구 중앙로 1205 일산차병원 1층 폴 바셋        폴바셋(일산마두점)
10                        서울특별시 영등포구 국회대로68길  18 금영빌딩     폴바셋(국회의사당역점)
11                            서울특별시 영등포구 여의대로  66 KTB        폴바셋(여의도점)
12                       서울특별시 영등포구 여의도동 23 IFC몰 L2층    폴바셋(여의도 IFC몰점)
13                    서울특별시 마포구 월드컵로1길  14 마포 한강 푸르지오     폴바셋(교보문고합정점)
14                         서울특별시 마포구 성암로  267 (주)문화방송     폴바셋(MBC몰파크점)

In [13]:
from tqdm import trange
import time
last_page = 4 # 폴바셋커피 마지막 페이지

requests.packages.urllib3.disable_warnings(requests.packages.urllib3.exceptions.InsecureRequestWarning)

page_list = []
for page_no in trange(1,int(last_page)+1):
    result = paul_scrapping(page_no)
    page_list.append(result)
    time.sleep(0.01)

100%|████████████████████████████████████████████████████████████████████████████████████| 4/4 [00:00<00:00,  9.40it/s]

In [14]:
df_paul = pd.concat(page_list)

In [15]:
df_paul.shape

(55, 2)

In [16]:
df_paul.columns = ['지역', '매장명']
df_paul['브랜드명'] = '폴바셋'

In [18]:
for i in range(len(df_paul)):
    df_paul['매장명'][i] = df_paul.iloc[i]['매장명'].strip('폴바셋(  )')

In [19]:
df_paul.head()

                                  지역         매장명 브랜드명
0  인천광역시 연수구 송도과학로 16번길 33-3 C동 폴바셋   송도트리플스트리트점  폴바셋
1       경기도 시흥시 서울대학로278번길 19-13 1층        시흥배곧점  폴바셋
2            서울특별시 강서구 공항대로 389 폴바셋      강서부민병원점  폴바셋
3     서울특별시 구로동 832 구로 G타워점 1층 폴 바셋       구로G타워점  폴바셋
4   서울특별시 구로구 구로동로 148 고대구로병원 신관 1층      고대구로병원점  폴바셋

In [20]:
file_name = "PaulBassett.csv"
df_paul.to_csv(file_name,index = False ,  encoding="utf-8-sig")